:root{
  font-size:1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 line-height: 2rem;
 color:white;
}






.App {
  background-color: #fee2e2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.items-container {
  width: 700px;
  height: 500px;
  overflow: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #f87171
}


.item {
  display: flex;
  gap: 200px;
  justify-content:space-between ;
  align-items: center;
}


.item-text {
  flex: 2;
}

.item-btn {
  flex: 1;
}

.item-btn .btn {
  cursor: pointer;
  border-radius: .2rem;
  background: #dc2626;
  color: white;
  border: none;
  padding: 10px 20px;

}